<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know Your Heart</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- Main wrapper for both head-container and content -->
    <div class="main-wrapper">
        <!-- Head container: title and logo -->
        <div class="head-container">
            <h1 class="text-5xl font-bold text-blue-600 text-center flex flex-col items-center">
                <p>Know</p>
                <p>Your</p>
                <p>Heart</p>
            </h1>
            <div class="logo ml-4">
                <img src="static/logo.jpeg" alt="Logo" class="h-36">
            </div>
        </div>

        <!-- Content container -->
        <div class="container mx-auto px-4 py-8 max-w-3xl">
            <!-- Chat container -->
            <div id="chat-container" class="bg-white shadow-lg rounded-lg p-6 mb-6 relative" style="display: block;">
                <div class="app-description" id="app-description" style="padding: 20px; background-color: #f9f9f9; border-radius: 8px; max-width: 600px; margin: auto; text-align: center;">
                    <p style="font-size: 18px; color: #333; text-align: justify;">
                        An interactive web application designed to assess your heart health through a series of questions. The app evaluates your risk of heart disease using a predictive model, providing insights into your heart health and offering tailored advice. Additionally, engage with an AI assistant for further information or heart-related questions. 
                        <strong>Know Your Heart</strong> empowers users to take proactive steps toward better heart health.
                    </p>
                    <br>
                    <p style="text-align:left;">
                        Want to know more about this works? Check out the <a href="https://github.com/your-github" target="_blank" style="text-decoration: none; color: #0073e6;">GitHub Repository</a> for the source code and details. 
                    </p>
                    <br><br>
                    <p style="font-size: 16px; color: #0073e6; text-align: justify;">
                        <p>Connect with me :<a href="https://santanujha.netlify.app/" target="_blank" style="text-decoration: none; color: #0073e6;"> Portfolio</a> | 
                        <a href="https://www.linkedin.com/in/santanu-jha-845510292/" target="_blank" style="text-decoration: none; color: #0073e6;">LinkedIn</a></p>
                        <p> Feel free to reach out for any inquiries or feedback!</p>
                        <br>
                    </p>
                    <div id="line"><hr /></div>
                    <br>
                    <p style="font-size: 12px; color: #666;">
                        Created with ❤️ to help you know your heart better. Discover the heart of wellness.<br>
                        &copy; 2024 Know Your Heart. All rights reserved.
                    </p><br>
                    <div id="line"><hr /></div>             
                </div>

                <!-- Back button for assessment -->
                <button id="back-btn-assessment" class="back-btn absolute top-2 right-2 bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded" onclick="backToMain()" style="display: none;">❌</button>
            </div>pip3 freeze > requirements.txt

            <!-- AI Chatbot container -->
            <div class="chat-AI relative">
                <div id="ai-chat-container" class="relative" style="display: none;">
                    <div id="ai-chat-messages" class="chat-messages"></div>
                    
                    <!-- Back button for AI chat -->
                    <button id="back-btn-ai" class="back-btn absolute top-2 right-2 bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded" onclick="backToMain()" style="display: none;">❌</button>
                </div>

                <div class="input-container p-4" id="ai-input-container" style="display: none;">
                    <input type="text" id="user-input" class="border p-2 rounded text-left flex-grow" placeholder="Ask your question..."/>
                    <button id="send-button" class="submit-answer bg-purple-500 text-white p-2 rounded ml-2" onclick="handleAIConversation()">Send</button>
                </div>
            </div>

            <!-- Input container for yes response -->
            <div class="input-container-yes p-4 relative" id="ai-input-container-yes" style="display: none;">
                <input type="text" id="ai-user-input" class="border p-2 rounded text-left flex-grow" placeholder="Ask your question...">
                <button class="submit-answer bg-blue-500 text-white p-2 rounded ml-2" onclick="sendAIMessage()">Send</button>
            </div>

            <!-- Buttons for starting assessment and AI chat -->
            <div id="main-buttons" class="start-chat-btn flex space-x-4">
                <button id="start-chat" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="startChat()">
                    Start Heart Health Assessment
                </button>
                <button id="features-description" class="w-full bg-purple-500 hover:bg-purple-600 text-white font-semibold py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50" onclick="startAIChat()">
                    Talk to AI about your heart
                </button>
            </div>
        </div>
    </div>

    <script src="static/script.js"></script>

</body>

</html>